/*
 * Navigation
*/

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
}

/*
 * Helpers
*/

.margin-top {
  margin-top: 40px;
}

.pointer {
  cursor: pointer;
}