// Base colors
$co-white: #fff;
$co-grey: #f9fafb;
$co-grey-dark: #ccc;
$co-charcoal: #555;

// Accent colors
$co-purple: #6A50A7;
$co-purple-accent: #8067B7;
$co-red: #DA4453;
$co-red-accent: #ED5565;
$co-pink: #f3649D;
$co-green: #2ABA66;
$co-green-accent: #2ECC71;