@import 'colors';

svg {
  text {
    &.acroletters {
      width: 100%;
      font: bold 96px 'Catamaran';
      fill: $co-white;
      fill-opacity: 1;
      text-shadow: 9px 9px 18px rgba(0, 0, 0, 0.35);
    }
  }
}
