<div class="container margin-top">
  
  <p class="heading">Find a Game</p>
  
  <div class="panel">
    <button class="button">Rated: G</button>
    <button class="button">Rated: R</button>
    <button class="button">Skill: Advanced</button>
    <button class="button">Skill: Normal</button>
    <button class="button">Skill: Beginner</button>
    <button class="button">Pace: Fast</button>
    <button class="button">Pace: Normal</button>
    <button class="button">Pace: Slow</button>
    <!--<button class="button">One</button>
    <button class="button">One</button>
    <button class="button">One</button>
    <button class="button">One</button>
    <button class="button">One</button>
    <button class="button">One</button>-->
  </div>
  
  <div class="wall">
    <div class="brick p-1-4">
      <div class="card pointer">
        <p>Hi there</p>
      </div>
    </div>
    <div class="brick p-1-4">
      <div class="card pointer">
        <p>Hi there</p>
      </div>
    </div>
    <div class="brick p-1-4">
      <div class="card pointer">
        <p>Hi there</p>
      </div>
    </div>
    <div class="brick p-1-4">
      <div class="card pointer">
        <p>Hi there</p>
      </div>
    </div>
    <div class="brick p-1-4">
      <div class="card pointer">
        <p>Hi there</p>
      </div>
    </div>
    <div class="brick p-1-4">
      <div class="card pointer">
        <p>Hi there</p>
      </div>
    </div>
    <div class="brick p-1-4">
      <div class="card pointer">
        <p>Hi there</p>
      </div>
    </div>
    <div class="brick p-1-4">
      <div class="card pointer">
        <p>Hi there</p>
      </div>
    </div>
    <div class="brick p-1-4">
      <div class="card pointer">
        <p>Hi there</p>
      </div>
    </div>
    <div class="brick p-1-4">
      <div class="card pointer">
        <p>Hi there</p>
      </div>
    </div>
    <div class="brick p-1-4">
      <div class="card pointer">
        <p>Hi there</p>
      </div>
    </div>
    <div class="brick p-1-4">
      <div class="card pointer">
        <p>Hi there</p>
      </div>
    </div>
    <div class="brick p-1-4">
      <div class="card pointer">
        <p>Hi there</p>
      </div>
    </div>
    <div class="brick p-1-4">
      <div class="card pointer">
        <p>Hi there</p>
      </div>
    </div>
    <div class="brick p-1-4">
      <div class="card pointer">
        <p>Hi there</p>
      </div>
    </div>
  </div>

</div>