<div class="container-game fixed gradient-game white shadow">
  
  <div class="countdown">
    <div class="bar" [ngStyle]="{width: countdownPercent}"></div>
  </div>
  
  <div>
    <button style="button" (click)="join()">Join</button>
  </div>
  
  <div class="container-category" *ngIf="currentCategory">
    Category: {{currentCategory}}
  </div>
  
  <div class="container-letters bounceInDown animated" *ngIf="currentLetters">
    <svg>
      <text class="acroletters" x="50%" y="50%" text-anchor="middle">
        <tspan *ngFor="let letter of currentLetters">
          {{letter}}
        </tspan>
      </text>
    </svg>
  </div>
  
  <div class="pin-bottom">
    <input class="acro text animated fast animation-zoom" placeholder="Type your answer and press Enter" [class.show]="currentLetters" />
  </div>
  
</div>