<div class="container margin-top">
  
  <p class="heading">Find a Room</p>
  
  <div class="panel">
    <button class="button box">Rated: G</button>
    <button class="button box">Rated: R</button>
    <button class="button box">Skill: Advanced</button>
    <button class="button box">Skill: Normal</button>
    <button class="button box">Skill: Beginner</button>
    <button class="button box">Pace: Fast</button>
    <button class="button box">Pace: Normal</button>
    <button class="button box">Pace: Slow</button>
  </div>
  
  <div class="wall">
    <div class="brick p-1-4" *ngFor="let room of roomsUrl | $firebaseevent:'child_added'">
      <div class="container-card pointer" [routerLink]="['Room', {id: room.id}]">
        <p>Room {{room.id}}</p>
      </div>
    </div>
  </div>

</div>