<div class="container margin-top">
  
  <div class="wall padding-top">
    <div class="brick p-1-4">
      <div class="card pointer">
        <p>Hi there</p>
      </div>
    </div>
    <div class="brick p-1-4">
      <div class="card pointer">
        <p>Hi there</p>
      </div>
    </div>
    <div class="brick p-1-4">
      <div class="card pointer">
        <p>Hi there</p>
      </div>
    </div>
    <div class="brick p-1-4">
      <div class="card pointer">
        <p>Hi there</p>
      </div>
    </div>
    <div class="brick p-1-4">
      <div class="card pointer">
        <p>Hi there</p>
      </div>
    </div>
    <div class="brick p-1-4">
      <div class="card pointer">
        <p>Hi there</p>
      </div>
    </div>
    <div class="brick p-1-4">
      <div class="card pointer">
        <p>Hi there</p>
      </div>
    </div>
    <div class="brick p-1-4">
      <div class="card pointer">
        <p>Hi there</p>
      </div>
    </div>
    <div class="brick p-1-4">
      <div class="card pointer">
        <p>Hi there</p>
      </div>
    </div>
    <div class="brick p-1-4">
      <div class="card pointer">
        <p>Hi there</p>
      </div>
    </div>
    <div class="brick p-1-4">
      <div class="card pointer">
        <p>Hi there</p>
      </div>
    </div>
    <div class="brick p-1-4">
      <div class="card pointer">
        <p>Hi there</p>
      </div>
    </div>
    <div class="brick p-1-4">
      <div class="card pointer">
        <p>Hi there</p>
      </div>
    </div>
    <div class="brick p-1-4">
      <div class="card pointer">
        <p>Hi there</p>
      </div>
    </div>
    <div class="brick p-1-4">
      <div class="card pointer">
        <p>Hi there</p>
      </div>
    </div>
  </div>

</div>