<div class="container-game fixed gradient-game white shadow">
  
  <!-- Playing Round -->
  <div class="container-flex flexcolumn" *ngIf="currentRound.type === 1">
    <div class="child-flex container-flex flexcolumn">
      <div class="child-flex container-flex flexrow">
        <!-- The numeric value of the countdown -->
        <div class="child-flex quarter centered label faded" [hidden]="currentRound.countdown && currentRound.countdown < 0">
          {{currentRound.countdown}}
        </div>
        <!-- Playing round countdown -->
        <div class="child-flex centered">
          <div class="countdown">
            <div class="bar gradient" [ngStyle]="{width: countdownPercent}"></div>
          </div>
        </div>
        <!-- Round Information -->
        <div class="child-flex quarter centered label faded">Round Info</div>
      </div>
      <div class="child-flex container-flex flexrow">
        <div class="child-flex centered">
          <!-- Category Info -->
          <div class="container-category" *ngIf="currentRound.category">
            "{{currentRound.category}}"
          </div>
        </div>
      </div>
    </div>
    <div class="child-flex centered">
      <!-- The Letters -->
      <div class="container-letters bounceInDown animated" *ngIf="currentRound.letters">
        <svg>
          <text class="acroletters unselectable" x="50%" y="50%" text-anchor="middle">
            <tspan *ngFor="let letter of currentRound.letters.chars">
              {{letter}}
            </tspan>
          </text>
        </svg>
      </div>
    </div>
    <div class="child-flex centered">
      <!-- Answer here! -->
      <input class="acro text animated fast animation-zoom" placeholder="Type your answer and press Enter" [class.show]="currentRound.letters" [class.valid]="answerSubmitted && answerValid" [class.invalid]= "answerSubmitted && !answerValid" (keyup)="onKeyUp($event, answer)" #answer/>
    </div>
  </div>
  
  <!-- Idle period -->
  <div *ngIf="currentRound.type === 0">
    <div>
      Waiting... ({{currentRound.countdown}})
    </div>
    <div>
      <button style="button" (click)="join()">Start a Game</button>
    </div>  
  </div>
  
  <!-- Voting Round -->
  <div *ngIf="currentRound.type === 2">
    <div>
      Voting... ({{currentRound.countdown}})
    </div>
    <div>
      <div class="pointer" *ngFor="let a of answers" (click)="vote()">{{a.answer}}</div>
    </div> 
  </div>
  
  <!-- Results Round -->
  <div *ngIf="currentRound.type === 3">
    Results! ({{currentRound.countdown}})
  </div>
  
  <!-- Background effects -->
  <div class="game-background-effects" [class.answered]="answerSubmitted && answerValid"></div>
</div>